.card {
    width: 45%;
}

@media all and (max-width: 540px){
    .card {
        width: 95%;
    }

    .dashboard__card-wrapper {
        flex-direction: column;
    }
}

.card__icon {
    font-size: 4rem;
}

.card__value {
    font-size: 3.5rem;
}